



#navbar{
    background-color: burlywood;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .9375rem;
    ul{
        display: flex;
        gap: 1.5625rem;
      li{
        font-size: 30px;
        
        margin: 20px;
      }
        
        
    }
    .brand{
        text-size-adjust: 3.125rem;
        font-size: 50px;
        color:blueviolet;
    }
    .cartwidget{
        display: flex;
        justify-content:space-between;
        align-items: center;
        margin: 15px;
        background-color: blueviolet;
        
    }

}