.item-list-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    
    flex-direction: column;
    background-color: blueviolet;
  }
  
  .item-list-container .saludo {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family: 'Ephesis', cursive;
    font-weight: bolder;
    color: #83077d;
    
  }
  
  .cargando{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }